.git
.codex
.idea
.playwright-mcp
.DS_Store
*.md
LICENSE
docs
easy-next-admin-web
logs
storage
target
work
.env
.env.*
easy-next-admin-server/logs
easy-next-admin-server/storage
easy-next-admin-server/work
easy-next-admin-server/target/*
!easy-next-admin-server/target/easyNextAdmin.jar
easy-next-admin-client
easy-next-admin-client-vue3
